body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: #e9e9e9;
}

.match-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
}

.team-detail, .score {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.team1-detail {
    align-items: center;
}

.team2-detail {
    align-items: center;
}

.score {
    flex: 0 1 200px;
    justify-content: center;
}

.team1-detail img, .team2-detail img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

#team1Name, #team2Name {
    color: black;
    font-size: 1.2em;
    text-align: center;
}

.match-info {
    text-align: center;
    margin-top: 20px;
}

.match-info p {
    margin: 5px 0;
    color: black;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
    color: black;
}

.modal-content label {
    display: block;
    margin: 5px 0 5px;
    color: #555;
}

.modal-content input[type="number"],
.modal-content input[type="text"],
.modal-content input[type="submit"] {
    width: calc(100% - 20px);
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-content input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.modal-content input[type="submit"]:hover {
    background-color: #0056b3;
}

.blue-btn {
    background-color: #007bff;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.blue-btn:hover {
    background-color: #0056b3;
}

.event-list {
    list-style-type: none;
    padding: 0;
}

.event-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
}

.event-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-surname {
    display: inline-block;
}

.event-list-container {
    display: flex;
    justify-content: flex-start;
}

.event-list-middle {
    position: absolute;
    right: 50%;
}

.score {
    font-size: 2.2em;
}

#update-result {
    display: none;
}

.btn {
    display: none;
}

.event-list-container[style*="justify-content: flex-end;"] {
    justify-content: flex-end;
}

.blue-btn img {
    padding-right: 10px;
}

#update-info img {
    padding-right: 5px;
}
