<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="awesometournament" version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>it.unipd.dei.dam.awesometournament.servlet.ExampleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Player</servlet-name>
		<servlet-class>it.unipd.dei.dam.awesometournament.servlet.PlayerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Player</servlet-name>
		<url-pattern>/api/players/*</url-pattern>
	</servlet-mapping>
</web-app>